@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';

.container {
  @include flexbox.flexbox(center, center);
  min-height: 100vh;
  background-color: colors.$BG_COLOR;

  .app {
    width: 80vw;
    min-height: 100vh;
    padding: 20px 10px;
    background-color: colors.$APP_BG;
    box-shadow: 0 1px 4px colors.$APP_BOX_SHADOW;
  }
}
