@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.container {
  @include flexbox.flexbox(center, center);
  width: 100vw;
  min-height: 100vh;
  color: colors.$MAIN_TEXT_COLOR;
  background-color: colors.$BG_COLOR;

  .app {
    width: 100%;
    min-height: 100vh;
    padding: 20px 10px;
  }
}
