@use '/src/styles/constants/colors';
@use '/src/styles/mixins/position';

.gnb {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 20px;
  border-bottom: 1px solid colors.$GRAYE;

  ul {
    display: flex;
  }

  li {
    + li {
      margin-left: 24px;
    }
  }

  a {
    padding: 4px 14px;
    color: colors.$SUB_TEXT_COLOR;

    &.isActive {
      font-weight: 600;
      color: colors.$MAIN_TEXT_COLOR;
    }
  }
}
